<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link th:href="@{/css/loginPage.css}" rel="stylesheet"/>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <p class="errorMsg" th:text="${eMsg}"/>
    <form th:object="${counsellor}" method="post" th:action="@{/login}">
        <input type="email" placeholder="Email" th:feild="*{email}" required>
        <input type="password" placeholder="Password" th:field="*{password}" required>
        <button type="submit">Login</button>
        <a href="register">Register</a>
    </form>
</div>
</body>
</html>